*{
    margin: 0;
    padding: 0;
}

.cabecalho {
padding: 15px 25px;
display: flex;
justify-content: space-between;
align-items: center;
background-color: #7e3e1c;
]

.cartao {
width: 260px;/*largura*/
height: 200px;/*altura*/
}

.cartao-imagem {
width: 100%; /*faz a imagem ocupar 100% da largura do cartão */
}